<div class="container mt-5 pt-5">
  <!--REGISTER for app, and toggles in form below on register button click-->
  <div *ngIf="!registerMode" style="text-align: center">
    <h1 class="p-2">Find Great Colleagues</h1>
    <h2 class="p-5">We think you'll work well with these teammates</h2>

  <div class="row">
    <div class="col-xs-6 col-lg-12 text-center">
      <img class="rounded-circle p-1 mx-auto"  src="assets/img/faces/face4-280xauto.jpg" alt="teammate face image" width="140" height="140">

      <img class="rounded-circle p-1  mx-auto"  src="assets/img/faces/face7-280xauto.jpg" alt="teammate face image" width="140" height="140">

      <img class="rounded-circle p-1  mx-auto"  src="assets/img/faces/face3-280xauto.jpg" alt="teammate face image" width="140" height="140">

      <img class="rounded-circle p-1 mx-auto"  src="assets/img/faces/face9-280xauto.jpg" alt="teammate face image" width="140" height="140">
          
      <img class="rounded-circle p-1  mx-auto"  src="assets/img/faces/face10-280xauto.jpg" alt="teammate face image" width="140" height="140">

      <img class="rounded-circle p-1  mx-auto"  src="assets/img/faces/face1-280xauto.jpg" alt="teammate face image" width="140" height="140">
    </div>    
  </div>

    <h5 class="m-4">All you need to do is sign up!</h5>
    <div class="text-center">
      <button class="btn btn-primary btn-lg m-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg m-2">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <!--Register = child component of Home component with registration functionality -->
        <!--removed [valuesFromHome]="values" -->
       <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
       <!--inputs have sq brkts, outputs have parentheses-->
      </div>
    </div> 
  </div>
</div>

<!--<p *ngFor="let value of values">{{value.name}}</p>-->
