<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark pb-2">
  <a class="navbar-brand" href="#">{{ title }}</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>

</nav>
