<!-- navbar -->
<nav
  class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary">
  <div class="container">
    <!-- navbar brand -->
    <a class="navbar-brand"
    [routerLink]="['./home']"
    (click)="collapse = true">
    {{ title }}</a>
    <!-- button - navbar toggler -->
    <button 
      class="navbar-toggler d-lg-none" 
      type="button" 
      (click)="collapse=!collapse"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="navbar-toggler">
      <span 
        class="navbar-toggler-icon">
      </span>
    </button>

    <!-- inline collapsing links -->
    <div [ngbCollapse]="collapse" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" 
          routerLinkActive="active"
          [routerLink]="['/members']" 
          (click)="collapse = true">Matches </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLinkActive="active"
          [routerLink]="['/lists']"  
          (click)="collapse = true">Lists </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLinkActive="active"
          [routerLink]="['./messages']" 
          (click)="collapse = true">Messages </a>
        </li>
      </ul>

    <!-- show dropdown for logged in users -->
      <div *ngIf="loggedIn()" 
      class="navbar-collapse" 
      [class.collapse]="collapse" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" 
          ngbDropdown >
          <!-- dropdown toggle -->
          <a class="dropdown-toggle nav-link" style="cursor: pointer" 
          ngbDropdownToggle 
          role="button">
            <i class="fa fa-id-card-o text-light bg-dark mr-2"></i> 
      <!-- add "safe navigation" (?) marker to interpolation to make private "unique_name" optional -->
          Welcome {{ authService.decodedToken?.unique_name | titlecase }}
          </a>
          <!-- dropdown menu -->
          <div ngbDropdownMenu 
          class="dropdown-menu"          aria-labelledby="navbarWelcomeUserDropdown"> 
            <a ngbDropdownItem  
            class="dropdown-item text-light bg-primary" 
            (click)="collapse = true"
            routerLinkActive="active"
            [routerLink]="['./messages']" >
              <i class="fa fa-user text-light bg-primary">
                </i>   Edit Profile</a> 
          <div class="dropdown-divider"></div> 
            <a ngbDropdownItem
            class="dropdown-item text-light bg-primary"  (click)="logout(); $event.preventDefault()">
              <i class="fa fa-sign-out text-light bg-primary">
                </i>   Logout</a> 
          </div> 
          </li> 
        </ul> 
      </div> 

      <!-- angular template form (#loginForm)-->
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <!-- username input --> 
        <input class="form-control mr-sm-2" type="text" name="username"  placeholder="Username" 
          required [(ngModel)]="model.username" aria-label="Username">
        <!-- password input --> 
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" 
          required [(ngModel)]="model.password" aria-label="Password">
        <!-- button: disabled if login inputs are not valid (blank, incorrect )-->
        <button 
        [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" 
        type="submit"
        (click)="collapse = true">
        Login</button>
      </form>
    </div>    
  </div> 
</nav>
